* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.pos-rel {
    position: relative;
}

.padding-zero {
    padding: 0;
}

.margin-zero {
    margin: 0;
}

.padding-top--50 {
    padding-top: 50px;
}

.padding-top--100 {
    padding-top: 100px;
}

.z-1 {
    z-index: 1;
}