.background-image-component {
    position: absolute;
    min-height: 1200px;
    height: 100%;
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: lightblue;
}